@import "shared"

#header #tabs li.has_nested
  a[href="#"]
    pointer-events: none

  ul ul
    margin: 0 0 0 15px
    overflow: auto
    display: block
    position: static
    padding: 0
    background: none
    float: none
    clear: both
    +box-shadow(none)

form[id^=form-gallery]
  .assets-inputs-wrapper
    .assets-inputs
      clear: both
      overflow: auto

    .nested-fields
      width: 31%
      margin: 1%
      float: left
      height: 480px
      +box-shadow(inset 0 1px 4px #ddd)

      fieldset
        height: 390px
        background-color: transparent
        +box-shadow(none)

      .remove_fields
        margin-left: 10px

    .actions
      margin-top: 50px
