$font-light: Arial, sans-serif !default
$font-regular: Arial, sans-serif !default
$font-bold: Arial, sans-serif !default

$vertical-spacing-xs: 40px !default
$vertical-spacing-sm: 50px !default
$vertical-spacing-md: 60px !default
$vertical-spacing-lg: 70px !default
