article[class^="component-"]
  .inner
    padding: $vertical-spacing-xs 0 ($vertical-spacing-xs * 1.5)

  h1
    font: 28px/1em $font-bold
    text-align: center
    +center-block

  h2
    font: 18px/1.2em $font-light
    text-align: center
    +center-block

  p + p
    margin: 12px 0

  &[data-nested-level="1"]
    h1
      font-size: 22px

  &[data-nested-level="2"]
    h1
      font-size: 18px

  // Height must be auto when FullHeightHeader script is in action
  &[full-height-header]
    .outer
      height: auto

  @media (min-width: $screen-sm-min)
    .inner
      padding: $vertical-spacing-sm 0 ($vertical-spacing-sm * 1.5)

    h1
      font-size: 45px

    h2
      font-size: 26px

    &[data-nested-level="1"]
      h1
        font-size: 35px

    &[data-nested-level="2"]
      h1
        font-size: 28px

  @media (min-width: $screen-md-min)
    .inner
      padding: $vertical-spacing-md 0 ($vertical-spacing-md * 1.5)

    h1
      font-size: 55px

    h2
      font-size: 30px

    &[data-nested-level="1"]
      h1
        font-size: 40px

    &[data-nested-level="2"]
      h1
        font-size: 32px

  @media (min-width: $screen-lg-min)
    .inner
      padding: $vertical-spacing-lg 0 ($vertical-spacing-lg * 1.5)

// Nested components do not have default padding.
article[class^="component-"] article[class^="component-"]
  .inner
    padding: 0
