article.component-banner
  .outer
    position: relative

    .background-image-wrapper
      position: absolute
      height: 100%
      width: 100%

  .inner
    position: relative
    z-index: 0
    text-align: center
    height: 240px
    padding: 0
    +flexbox
    +justify-content(center)
    +flex-direction(column)

    .icon-wrapper
      margin-bottom: 10px
      height: 60px
      +center-block

      .icon-wrapper-inner
        height: 100%

      img
        +size(auto, 100%)

      svg
        +square(100%)

    h1
      text-transform: uppercase
      color: white

    h2
      font: 20px/1.2em $font-light
      color: white
      margin: 0

.component-banner[min-width~="500px"]
  .outer
    height: 280px

  .inner[min-width~="500px"]
    height: 280px
    padding: 0

    .icon-wrapper
      height: 60px
      margin-bottom: 12px

.component-banner[min-width~="900px"]
  .outer
    height: 320px

  .inner[min-width~="740px"]
    height: 320px
    padding: 0
