article.component-content
  .outer
    position: relative

    .background-image-wrapper
      position: absolute
      height: 100%
      width: 100%

  .inner
    position: relative
    z-index: 0

    img.main
      max-width: 100%
      margin: 20px auto
      display: block

    .text
      margin-top: 20px
      text-align: center

  &.media-center
    .image
      max-width: 100%
      margin: 20px auto
      display: block

  @media (min-width: $screen-sm-min)
    .inner
      img.main
        &.left
          +size(auto, 280px)
          float: left
          margin: $vertical-spacing-sm 30px 10px 0

      .text
        margin-top: $vertical-spacing-sm
        text-align: left

  @media (min-width: $screen-md-min)
    .inner
      img.main
        &.left
          +size(auto, 310px)
          margin-top: $vertical-spacing-md

      .text
        margin-top: $vertical-spacing-md

  @media (min-width: $screen-lg-min)
    .inner
      img.main
        &.left
          +size(auto, 360px)
          margin-top: $vertical-spacing-lg

      .text
        margin-top: $vertical-spacing-lg
